@keyframes bounce {
  0%, 100% {
    transform: none;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

#fa-loading {
  position: fixed;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  pointer-events: none;
  z-index: 101;
  background: rgba(255, 255, 255, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
}

#fa-loading-image {
  height: 100px;
  width: 100px;
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

#fa-loading-text {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #326916;
  font-size: 0.8rem;
}

#fa-ad-load-desc-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

#fa-ad-load-desc-btn {
  z-index: 2;
  height: auto;
  min-height: unset;
  padding: 0.5rem 0.75rem;
  text-align: center;
  border-radius: 0px;
  border-top-left-radius: 2px;
  font-weight: 400;
  background-color: #b5e941;
  color: #1d4b00;
  cursor: pointer;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

#fa-gallery {
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background-color: transparent;
  display: flex;
  top: 0;
  left: 0;
}

#fa-gallery-close-btn {
  position: absolute;
  top: 25px;
  right: 50px;
  background: rgba(0, 0, 0, 0) url(https://static.kleinanzeigen.de/static/img/common/viewad-gallery/close.svg) no-repeat center center;
  width: 24px;
  height: 24px;
  z-index: 102;
}

#fa-dialog {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  max-width: unset;
  max-height: unset;
}

#fa-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

#fa-image-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fa-image-loading-image {
  height: 50px;
  width: 50px;
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

#fa-liked {
  display: inline-block;
  background: #b5e941;
  padding: 8px 10px;
  border-radius: 4px;
  margin-right: 9px;
}

#fa-scrolltop {
  position: fixed;
  z-index: 99999;
  width: 40px;
  height: 40px;
  background: #b5e941;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: #11111126 2px 2px 6px 0px;
  cursor: pointer;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  box-shadow: #1111111a 2px 2px 6px 0px;
  cursor: pointer;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  right: 2rem;
  bottom: 4rem;
  animation: bounce 1s ease-in-out infinite;
  animation-play-state: running;
  visibility: hidden;
  opacity: 0;
}

#fa-scrolltop:hover {
  animation-play-state: paused;
}


#fa-scrolltop-image {
  fill: #1d4b00;
  transform: scale(1.2);
}

/* Gallery */

.galleryimage-large {
  width: 75%;
  height: 75%;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.galleryimage, .galleryimage-large {
  padding: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.galleryimage-element-button {
  position: absolute;
  z-index: 2;
  right: 12px;
  top: 12px;
  transform: scale(0);
}

.galleryimage-element {
  width: 100%;
  height: 100%;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.galleryimage-element:not(.current) {
  display: none;
  z-index: 0;
}

.galleryimage--navigation--next, .galleryimage--navigation--prev {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.galleryimage--navigation--prev {
  left: 0px;
  border-radius: 0 4px 4px 0;
  background-image: url(https://static.kleinanzeigen.de/static/img/common/icons/icn-prev-slim-white.svg);
}

.galleryimage--navigation--next {
  right: 0px;
  border-radius: 4px 0 0 4px;
  background-image: url(https://static.kleinanzeigen.de/static/img/common/icons/icn-next-slim-white.svg);
}

.galleryimage--navigation, .galleryimage--navigation--prev, .galleryimage--navigation--next {
  height: 50px;
  width: 50px;
  color: rgba(12, 12, 11);
  background-color: rgba(12, 12, 11, 0.7);
  position: absolute;
  top: calc(50% - 25px);
  z-index: 4;
}

.galleryimage-large > img, .galleryimage-element > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.galleryimage-element > img {
  object-fit: contain;
  z-index: 3;
}
